<template>
  <div>
    <Header></Header>
    <Acerca></Acerca>
    <Service></Service>
    <Desarrolladores></Desarrolladores>
    <Banner></Banner>
    <Testimonial></Testimonial>
    <MasServicios></MasServicios>
    <Clientes></Clientes>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from "../components/Header";
import Acerca from "../components/Acerca";
import Service from "../components/Service";
import Desarrolladores from "../components/Desarrolladores";
import Banner from "../components/Banner"
import Testimonial from "../components/Testimonial";
import MasServicios from "../components/MasServicios"
import Clientes from "../components/Clientes";
import Footer from "../components/Footer";


export default {
  components: {
    Header,
    Acerca,
    Service,
    Desarrolladores,
    Banner,
    Testimonial,
    MasServicios,
    Clientes,
    Footer,
  }
};
</script>

<style lang="scss" scoped>
  
</style>