<template>
  <section id="acerca" class="seccion">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mb-5">
          <img src="../assets/images/logo-vision.jpg" alt="Img acerca de" class="imagen-responsive" />
        </div>
        <div class="col-lg-7">
          <div>
            <div class="text-center">
              <h2>ACERCA DE NOSOTROS</h2>
            </div>
            <p>
              VISION APP WEB S.A.S. Es una empresa formada
              por ingenieros y desarrolladores especializados en aplicaciones web, servicios tecnologicos,
              herramientas digitales y bases de datos.
            </p>
            <p>
              Nacimos de la idea de ofrecer un servicio profesional, con desarrollos a la medida y
              codigo propio evitando asi problemas legales de derechos de autor, con el animo de ofrecer servicios
              y productos tecnologicos increibles para usted.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.imagen-responsive {
  object-fit: contain;
}
</style>