<template>
  <section class="seccion banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-texto">
            <h3>¡Conozca Nuestro Software Contable y Administrativo para PYMES!</h3>
            <p>
              Contamos con desarrollos y funcionalidades especializadas
              para las necesidades de cada tipo de empresa.
            </p>
            <a href="#" class="cta">
                Contactanos
                <font-awesome-icon icon="angle-double-right" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.banner {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.37),
      rgba(0, 0, 0, 0.37)
    ), url(../assets/images/banner.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center right;
  .banner-texto {
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    h3,
    p {
      color: #fff;
    }
  }
}
</style>

