<template>
<section class="mt-3">
  <carousel :perPageCustom="[[320, 2],[768, 3], [1024, 4]]">
    <slide>
      <a href="#" target="_black" class="img-empresa">
        <img src="../assets/images/logo1.png" alt="Logo Marfilbsc" class="imagen-responsive" />
      </a>
    </slide>
    <slide>
      <a href="#" target="_black" class="img-empresa">
        <img
          src="../assets/images/logo2.png"
          alt="Logo Sicon"
          class="imagen-responsive"
        />
      </a>
    </slide>
    <slide>
      <a href="#" target="_black" class="img-empresa">
        <img src="../assets/images/logo3.png" alt="Logo Sicon" class="imagen-responsive" />
      </a>
    </slide>
    <slide>
      <a href="#" target="_black" class="img-empresa">
        <img src="../assets/images/logo4.png" alt="Logo Marfilbsc" class="imagen-responsive" />
      </a>
    </slide>
    <slide>
      <a href="#" target="_black" class="img-empresa">
        <img
          src="../assets/images/logo5.png"
          alt="Logo Sicon"
          class="imagen-responsive"
        />
      </a>
    </slide>
  </carousel>
</section>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
  components: {
    Carousel,
    Slide
  }
};
</script>
<style lang="scss" scoped>
.img-empresa {
  display: block;
  width: 50%;
  margin: 15px auto;
  img {
    object-fit: contain;
    transition: all 0.4s;
    filter: grayscale(1);
    max-height: 90px;
  }
  &:hover img {
    filter: none;
  }
}
</style>