<template>
  <section id="desarrolladores" class="seccion">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>NUESTROS DESARROLLADORES</h2>
          <p>
            Una de las mejores herramientas para vencer las barreras del mercado
            es la satisfacción de nuestros clientes
          </p>
        </div>
      </div>
      <div class="row seccion">
        <div class="col-lg-3">
          <div class="desarrollador">
            <div class="desarrollador-img">
              <img src="../assets/images/person_1.jpg" alt="Img Desarrollador" class="imagen-responsive" />
            </div>
            <div class="desarrollador-texto">
              <h4>Jhon Molina</h4>
              <span>Desarrollador Front End</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="desarrollador">
            <div class="desarrollador-img">
              <img src="../assets/images/person_3.jpg" alt="Img Desarrollador" class="imagen-responsive" />
            </div>
            <div class="desarrollador-texto">
              <h4>Jeaffer villadiego</h4>
              <span>Desarrollador Back End</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="desarrollador">
            <div class="desarrollador-img">
              <img src="../assets/images/person_2.jpg" alt="Img Desarrollador" class="imagen-responsive" />
            </div>
            <div class="desarrollador-texto">
              <h4>Edinson Natera</h4>
              <span>Desarrollador Front End</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="desarrollador">
            <div class="desarrollador-img">
              <img src="../assets/images/person_4.jpg" alt="Img Desarrollador" class="imagen-responsive" />
            </div>
            <div class="desarrollador-texto">
              <h4>Doober Martinez</h4>
              <span>Administrador Base de Datos</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.desarrollador{
  margin-bottom: 20px;
  .desarrollador-img {
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: var(--shadow-elementos);
  }
  .desarrollador-texto{
    text-align: center;
    h4{
       color: var(--font-color);
    }
  }
}
</style>