<template>
<section id="contacto" class="footer seccion">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>CONTACTANOS</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, non?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Correo Electrónico</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Contraseña</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="******" />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <a role="button" class="cta btn-block text-center">Enviar información <font-awesome-icon icon="angle-double-right" /> </a> 
        </form>
      </div>
      <div class="col-lg-6">
        <div class="footer-informacion">
          <div>
              <h5>CORREO EMPRESARIAL <font-awesome-icon icon="envelope" size="2x" /></h5>
              <p>
                hello@reallygreatsite.com 
              </p>
          </div>
          <div>
              <h5>UBICACION <font-awesome-icon icon="map-marker-alt" size="2x" /></h5>
              <p>
                123 Anywhere St., Any City, State, Country 123 
              </p>
          </div>
          <div>
              <h5>TELEFONOS CORPORATIVOS <font-awesome-icon icon="phone" size="2x" /></h5>
              <p>
                (123) 456 7890, (+57) 321 456 4545
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="copy bg-dark">
        <span>&copy; 2020 - VISION APP WEB</span>
    </div>
</section>
</template>

<script>
export default {
  name: "Footer"
};
</script>
<style lang="scss" scoped>
.footer{
    background-color: #fff;
    form{
      margin-bottom: 20px;
    }
    .footer-informacion{
        text-align: right;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h5{
            font-weight: 500;
        }
    }
    .copy{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        span{
        color: #ccc;

        }
    }

}
</style>