<template>
  <div>
    <div class="jumbotron jumbotron-fluid">
      <NavBar></NavBar>
      
        <div class="texto-hero">
          <h1 class="display-4">Fluid jumbotron</h1>
          <h3
            class="lead"
          >This is a modified jumbotron that occupies the entire horizontal space of its parent.</h3>
          <a href="#" class="cta">Contactanos <font-awesome-icon icon="angle-double-right" /> </a>
        </div>
      
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar";
export default {
  name: "Header",
  components: {
    NavBar
  }
};
</script>

<style lang="scss" scoped>
.jumbotron {
  padding: 0;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.37),
      rgba(0, 0, 0, 0.37)
    ),
    url("../assets/images/bg-hero.jpg") no-repeat fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;

  h1 {
    color: #ffffff;
    margin-bottom: 0;
  }

  h3 {
    color: #ffffff;
    margin: 30px 0;
  }

  .texto-hero{
      width: 100%;
      padding: 10px 15px;
      text-align: center;
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%)
  }

  @media (max-width: 768px) {
   
    .wave {
      background-position: center bottom;
      background-size: contain;
    }
  }
}
</style>
