<template>
  <section class="seccion">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="thumbs-up" size="3x" border pull="left" :style="{ color: '#0c49bc' }"  />
            </div>
            <div class="mas-servicio-texto">
              <h4>Resultados de calidad</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="chart-pie" size="3x" border pull="left" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="mas-servicio-texto">
              <h4>Analítica</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="hand-holding-usd" size="3x" border pull="left" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="mas-servicio-texto">
              <h4>Precios asequibles</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="layer-group" size="3x" border pull="left" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="mas-servicio-texto">
              <h4>Escable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="chalkboard-teacher" size="3x" border pull="left" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="mas-servicio-texto">
              <h4>Fácil de usar</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mas-servicio">
            <div class="mas-servicio-icon">
              <font-awesome-icon icon="th" size="3x" border pull="left" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="mas-servicio-texto">
              <h4>Diseño adaptable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.mas-servicio {
    display: flex;
    margin-bottom: 20px;
  .mas-servicio-texto {
    h4 {
      color: var(--font-color);
    }
  }
}
</style>