<template>
  <section id="servicios" class="seccion">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>LO QUE OFRECEMOS</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, dolorem.</p>
          </div>
        </div>
      </div>
      <div class="row seccion">
        <div class="col-lg-3">
          <div class="servicio text-center">
            <div class="servicio-icon">
              <font-awesome-icon icon="th" size="3x" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="servicio-texto">
              <h4>Diseño adaptable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="servicio text-center">
            <div class="servicio-icon">
              <font-awesome-icon icon="th" size="3x" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="servicio-texto">
              <h4>Diseño adaptable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="servicio text-center">
            <div class="servicio-icon">
              <font-awesome-icon icon="th" size="3x" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="servicio-texto">
              <h4>Diseño adaptable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="servicio text-center">
            <div class="servicio-icon">
              <font-awesome-icon icon="th" size="3x" :style="{ color: '#0c49bc' }" />
            </div>
            <div class="servicio-texto">
              <h4>Diseño adaptable</h4>
              <p>
                Con un nisl risus, hendrerit arcu sed, dapibus velit urna metus. Calentamiento, y no había sabido cómo los arcos,
                y el felis ornare fringilla sapien Duis. Gluten.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>