<template>
  <section id="testimoniales" class="seccion">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>TESTIMONIALES</h2>
          <p>
            Una de las mejores herramientas para vencer las barreras del mercado
            es la satisfacción de nuestros clientes
          </p>
        </div>
      </div>
      <div class="row seccion">
        <div class="col-lg-4">
          <article class="testimonio">
            <div class="testimonio-img">
              <img src="../assets/images/person_1.jpg" alt="Logo Sicon" class="imagen-responsive" />
            </div>
            <div class="testimonio-texto">
              <h4>
                <font-awesome-icon icon="quote-left" size="2x" :style="{ margin: '0 10px 0 0' }" />Jeaffer villadiego
              </h4>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipi elit. Reprehenderit provident possimus inventore.</blockquote>
              <span>Ingeniero de Sistemas</span>
            </div>
          </article>
        </div>
        <div class="col-lg-4">
          <article class="testimonio">
            <div class="testimonio-img">
              <img src="../assets/images/person_2.jpg" alt="Logo Sicon" class="imagen-responsive" />
            </div>
            <div class="testimonio-texto">
              <h4>
                <font-awesome-icon icon="quote-left" size="2x" :style="{ margin: '0 10px 0 0' }" />Rigoberto uran
              </h4>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipi elit. Reprehenderit provident possimus inventore.</blockquote>
              <span>ciclista profesional</span>
            </div>
          </article>
        </div>
        <div class="col-lg-4">
          <article class="testimonio">
            <div class="testimonio-img">
              <img src="../assets/images/person_3.jpg" alt="Logo Sicon" class="imagen-responsive" />
            </div>
            <div class="testimonio-texto">
              <h4>
                <font-awesome-icon icon="quote-left" size="2x" :style="{ margin: '0 10px 0 0' }" />orlando contreras
              </h4>
              <blockquote>Lorem ipsum dolor sit amet consectetur adipi elit. Reprehenderit provident possimus inventore.</blockquote>
              <span>contador publico</span>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.testimonio {
  position: relative;
  text-align: center;
  background: var(--color-base);
  box-shadow: var(--shadow-elementos);
  border-radius: 4px;
  border: 5px solid var(--color-base);
  margin-bottom: 70px;
  .testimonio-img {
    width: 30%;
    height: 100px;
    position: absolute;
    top: -60px;
    left: 60%;
    border: 5px solid var(--color-base);
    border-radius: 50%;
    overflow: hidden;
  }
  .testimonio-texto {
    width: 100%;
    color: #fff;
    padding: 50px 30px 50px 30px;
    h4{
      text-transform: capitalize;
    }
    span {
      text-transform: capitalize;
      display: block;
      color: #fff;
    }
  }
}
</style>