@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  line-height: 1.6;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
/*VARIABLES*/
:root {
  --color-base: #0c49bc;
  --font-color: #666666;
  --shadow-elementos:  0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/*GLOBALES*/
h1 {
  font-size: 36px;
}
h2 {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 20px;
  text-shadow: 1px 2px 3px rgba(59, 57, 80, 0.2);
  position: relative;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: currentColor;
    position: absolute;
    top: 50%;
  }
  
  &::before{
      left: -10px;
  }
  &::after {
    right: -10px;
  }
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
p,
span,
label {
  color: var(--font-color);
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
ul,
li {
  list-style: none;
}
a {
  transition: all 0.4s;
}
a,
a:hover {
  text-decoration: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea.form-control:focus {
  box-shadow: var(--shadow-elementos);
  border-color: var(--color-base);
  outline: 0 none;
}
input[type="password"],
input[type="email"],
textarea.form-control {
  border: 2px solid #ccc;
}

/*UTILIDADES*/
.imagen-responsive {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.seccion {
  margin-top: 80px;
}

.cta {
  padding: 5px 20px;
  background-color: #fff;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  border-radius: 4px;
  transition: all 0.4s;
  &:hover {
    box-shadow: var(--shadow-elementos);
    color: #fff;
    background-color: var(--font-color);
    border-color: rgba(0, 0, 0, 0.308);
  }
}
