<template>

  <div id="app">
    <router-view></router-view>
  </div>

</template>
<script>
import SmoothScroll from "../node_modules/smooth-scroll/dist/smooth-scroll";
export default {
  scroll : new SmoothScroll('a[href*="#"]')
}
</script>
